{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수성대학교 라이프사업단</title>
    <link rel="stylesheet" href="{% static 'life/css/default.css'%}">
    <link rel="stylesheet" href="{% static 'life/css/head.css'%}"> 
    <link rel="stylesheet" href="{% static 'life/css/foot.css'%}"> 
    <link rel="stylesheet" href="{% static 'life/css/main.css'%}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="{% static 'life/js/jquery-3.6.0.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>
<body>
    <header>
        <div id="header">
            <div class="inner">
                <div class="gnb">
                    <div class="logo">
                        <a href="{% url 'life_index' %}">
                            <img src="{% static 'life/images/top/logo.png'%}" alt="logo">
                        </a>
                    </div>
                    <ul class="menu">
                        <li><a href="{% url 'life_sub01' %}">LIFE2.0 사업단</a></li>
                        <li><a href="{% url 'life_sub02' %}">학과안내</a></li>
                        <li><a href="{% url 'life_sub03' %}">대학생활</a></li>
                        <li><a href="{% url 'life_sub04' %}">입학안내</a></li>
                        <li><a href="https://www.sc.ac.kr" target="_blank" class="blank_link">대학홈페이지</a></li>
                    </ul>
					<div id="mob_button" class="btn_mob_button">
						<div class="line"></div>
					</div>
                </div>
            </div>
        </div> 
    </header>

    <main>
        <div class="main_page">
            <!-- 메인 배너 -->
            <div class="section_01">
                <div class="banner_top">
                    <div class="inner">
                        <div class="center_txt">
                            <h2 class="font-28 weight-800 point_f">수성대학교 LiFE사업단</h2>
                        </div>
                        <div class="center_tit">
                            <h1 class="weight-800 point_f point_c">CHALLENGES AND PASSION <br>FOR DREAMS BEGIN.</h1>
                            <h2 class="font-25 weight-300 point_f">꿈을 향한 특성화대학 수성대학교에서 꿈을 향한 도전과 열정이 시작됩니다.</h2>
                        </div>
                    </div>
                </div>
                <div class="banner_img">

                </div>
                <div class="scroll_down font-16">SCROLL DOWN <br>▼</div>
            </div> 

            <!-- 학과 설명 -->
            <div class="section_02">
                <div class="inner">
                    <p class="font-18 weight-400">대학의 평생교육체제 지원사업(LiFE)은 대학이 성인 전담의 평생교육체제를 구축·운영하도록 지원함으로써, 고등학교 졸업 후 사회에 진출한 <br class="none">
                     성인 학습자들이 원하는 시기에 대학에 입학하여, 일과 학업을 병행하며 학위 취득 및 지속적인 경력개발을 할 수 있도록 지원합니다.</p>
                    <div class="link_a"><a href="{% url 'life_sub01' %}" class="font-17 weight-500">LiFE사업단 소개 바로가기 →</a></div>
                </div>
            </div>

            <!-- 학과별 링크 -->
            <div class="section_03">
                <div class="inner">
                    <ul class="link_list">
                        <li>
                            <span>
                                <h3 class="font-70 weight-800 point_f color">SOCIAL WELFARE MAJOR</h3>
                                <p class="font-20 weight-400">지역사회복지 증진에 기여하는 인성과 실무 역량을 갖춘 웰케어(Well Life Care) 사회복지상담사 양성 </p>
                            </span>
                            <div class="link_page"><a href="{% url 'life_sub02' %}" class="font-30 weight-800" target="_blank">
                                사회복지상담전공 바로가기 <b class="point_c point_f">→</b>
                            </a></div>
                        </li>
                        <li>
                            <span>
                                <h3 class="font-70 weight-800 point_f color">WELLSKIN CARE MAJOR</h3>
                                <p class="font-20 weight-400">창의융복합적 사고를 기반으로 실무역량을 갖춘 휴먼케어 뷰티테라피스트양성  </p>
                            </span>
                            <div class="link_page"><a href="{% url 'life_sub02_02' %}" class="font-30 weight-800" target="_blank">
                                웰스킨케어전공 바로가기 <b class="point_c point_f">→</b>
                            </a></div>
                        </li>
                        <li>
                            <span>
                                <h3 class="font-70 weight-800 point_f color">SENIOR GOLF MAJOR</h3>
                                <p class="font-20 weight-400">시니어를 위한 골프지도와 골프지도자 양성 </p>
                            </span>
                            <div class="link_page"><a href="{% url 'life_sub02_03' %}" class="font-30 weight-800" target="_blank">
                                시니어골프전공 바로가기 <b class="point_c point_f">→</b>
                            </a></div>
                        </li>
                    </ul>
                </div>
            </div>
          
    
            <!-- 자격증 -->
            <div class="section_04">
                <div class="bg_info">
                    <div class="inner">
                        <div class="right_txt">
                            <h3 class="font-70 weight-800 point_f">ROOTING YOUR DREAM</h3>
                            <h4 class="font-80 weight-800 point_f point_c">SUSEONG <br>UNIVERSITY</h4>
                            <p class="font-25 weight-500 point_f">꿈을 위한, 새로운 도전을 위한 선택 <br> <b>수성대학교 LiFE</b></p>
                        </div>
                    </div>
                    <img src="{% static 'life/images/main/center_bg.png' %}" alt="golf bg">
                </div>
                <div class="inner">
                    <ul class="program_list">
                        <li>
                            <h5 class="font-24 weight-800">비학위 과정</h5>
                            <span class="font-17 weight-500">운영시기  |  야간(18시 이후), 주말(토요일), 하계 방학 및 동계방학</span>
                            <div class="p_list">
                                <p class="font-16 weight-400">웰스킨케어 전공 -시니어병원코디네이터, 힐링아로마테라피 등</p>
                                <p class="font-16 weight-400">사회복지상담전공-생명존중전문가, 슬기로운 노인심리상담 등</p>
                                <p class="font-16 weight-400">시니어골프전공-파크로프라운딩과정,S-노인스포츠지도사 등</p>
                            </div>
                            <div class="link_a"><a href="{% url 'life_sub03' %}#section_02" class="font-16 weight-500">관련페이지 바로가기 →</a></div>
                        </li>
                        <li>
                            <h5 class="font-24 weight-800">신입생 유스티노 아카데미</h5>
                            <span class="font-17 weight-500">운영시기  |  입학전 </span>
                            <div class="p_list">
                                <p class="font-16 weight-400">STAR 수성인-평생교육, 비전 및 목적 공유, 학사지도, 대학생활 설계 등</p>
                                <p class="font-16 weight-400">알쓸전잡-알아두면 쓸모있는 전공 철학사전, STAR 동문 특강 등</p>
                                <p class="font-16 weight-400">예비수성인- 자기탐색, 생애 설계, 대인관계 형성, 소통기법 등</p>
                            </div>
                            <div class="link_a"><a href="{% url 'life_sub03' %}#section_04" class="font-16 weight-500">관련페이지 바로가기 →</a></div>
                        </li>
                        <li>
                            <h5 class="font-24 weight-800">전공체험 프로그램</h5>
                            <span class="font-17 weight-500">운영시기  |  입학전 </span>
                            <div class="p_list">
                                <p class="font-16 weight-400"> 사회복지체험, 힐링 헬스케어 체험, 피부관리 및 명상 체험</p>
                            </div>
                            <div class="link_a"><a href="{% url 'life_sub03' %}#section_06" class="font-16 weight-500">관련페이지 바로가기 →</a></div>
                        </li>
                        <li>
                            <h5 class="font-24 weight-800">예비대학 디딤돌</h5>
                            <span class="font-17 weight-500">운영시기  |  입학전 </span>
                            <div class="p_list">
                                <p class="font-16 weight-400">디지털 스킬업-디지털 활용 능력 향상, 디지털 할용 격차 해소 등</p>
                                <p class="font-16 weight-400">기초 리터리시-대학 글쓰기 향상, 문서작성 능력 향상 등</p>
                                <p class="font-16 weight-400">자기주도 학습법-자신의 학업 유형 탐색, 효과적 학습법 이해 등</p>
                            </div>
                            <div class="link_a"><a href="{% url 'life_sub03' %}#section_08" class="font-16 weight-500">관련페이지 바로가기 →</a></div>
                        </li>
                        <li>
                            <h5 class="font-24 weight-800">학생 모니터링단</h5>
                            <span class="font-17 weight-500">운영시기  |  학기 중 3~5주, 주 1회 </span>
                            <div class="p_list">
                                <p class="font-16 weight-400">수업 및 학사 전반에 관한 내용을 모니터링</p>
                                <p class="font-16 weight-400">학교생활 중 느낀 점 작성</p>
                            </div>
                            <div class="link_a"><a href="{% url 'life_sub03' %}#section_10" class="font-16 weight-500">관련페이지 바로가기 →</a></div>
                        </li>
                        <li>
                            <h5 class="font-24 weight-800">전공 동아리</h5>
                            <span class="font-17 weight-500">운영시기  |  학기 및 방학</span>
                            <div class="p_list">
                                <p class="font-16 weight-400">전공 동아리 신청 후 활동</p>
                            </div>
                            <div class="link_a"><a href="{% url 'life_sub03' %}#section_12" class="font-16 weight-500">관련페이지 바로가기 →</a></div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 입시요강 링크 -->
            <div class="section_05">
                <div class="inner">
                    <h4 class="font-50 weight-800 point_f">입시요강</h4>
                    <div class="bottom_btn_link">
                        <a href="https://ipsi.sc.ac.kr/" target="_blank" class="font-17 weight-500 point_f">ENTRANCE EXAM <br><b class="font-22">입시요강 홈페이지 바로가기</b> <i>→</i></a>
                    </div>
                </div>
            </div>
    
        </div>
    </main>

    <footer>
        <div id="footer">
            <div class="inner">
                <div class="foot_logo"><img src="{% static 'life/images/foot/footer_logo.png' %} " alt="수성대학교 라이프 사업단 로고"></div>
                <div class="copyright font-17 weight-300">(c) 2024 SUSEONG UNIVERSITY. All rights reserved.</div>
            </div>
        </div>
    </footer>

    
</body>
</html>