{% extends 'life/sub.html' %}
{% load static %}
{% block content %}
    <sub>
        <div id="sub02">
			<div class="inner">
				<div class="nav">
					<nav>
						<h2 class="sub_tit font-45 weight-900 p_font">시니어골프 전공</h2>
						<div class="location n_font font-15"><a href="{% url 'life_index' %}">홈</a> <span>▶</span> 학과안내 <span>▶</span> 시니어골프 전공</div>
					</nav>
					<ul>
						<li><a href="{% url 'life_sub02' %}" class="font-17">사회복지상담 전공</a></li>
						<li><a href="{% url 'life_sub02_02' %}"  class="font-17">웰스킨케어 전공</a></li>
						<li><a href="{% url 'life_sub02_03' %}"  class="font-17 on">시니어골프 전공</a></li>
					</ul>
				</div>

				<section id="section_01">
					<ul>
						<li class="font-25 weight-600 p_font">인재상</li>
						<li><img src="{% static 'life/images/sub/dot02.png' %}"></li>
						<li class="font-22">Well Life Care 생활체육지도자</li>
					</ul>
					<ul>
						<li class="font-25 weight-600 p_font">교육목표</li>
						<li><img src="{% static 'life/images/sub/dot02.png' %}"></li>
						<li class="font-22">인성과 실력을 겸비한 21C 맞춤형 시니어생활체육지도자 양성</li>
					</ul>
				</section>
				<section id="section_02">
					<ul>
						<li class="font-25 weight-600 p_font">인재상</li>
						<li class="font-20">
							<ul>
								<li><div>기존사회복지과에서 성인학습자 요구분석과 환경분석을 토대로 특화된 성인친화형 교육과정 개발 및 운영고도화</div></li>
								<li><div>4차 산업혁명 및 신산업트렌드 반영을 위해 단계적 융합전공 및 신기술직무역량 교육과정 개편</div></li>
								<li><div>평생교육 관련 지역기초단체와 산업체의 교육과정개발위원회 외부위원 참여로 지역사회기반 평생교육 성인친화형 교육과정 공동운영체계 고도화</div></li>
								<li><div>산업체 및 지역 유관단체 현장직무분석을 기반으로 현장중심 역량기반 교육과정 개발 및 운영 고도화</div></li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_03">
					<ul>
						<li class="font-25 weight-600 p_font">학과특성</li>
						<li class="font-20">
							<ul>
								<li><div class="p_font font-35 weight-800">01.</div>전문적이고 특화된 자격과정</li>
								<li><div class="p_font font-35 weight-800">02.</div>주간반, 야간반, 평생학습자반(주말반)<br>운영으로 학습의 기회 확대</li>
								<li><div class="p_font font-35 weight-800">03.</div>전공동아리 활동을 통한 자기개발</li>
								<li><div class="p_font font-35 weight-800">04.</div>우수한 동문</li>
								<li><div class="p_font font-35 weight-800">05.</div>전담 교수제 운영</li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_04">
					<div class="btn font-20 weight-600 p_font right"><a href="#none" target="_blank">홈페이지 바로가기</div>
				</section>
			</div>
        </div> 
    </sub>
</div>
{% endblock content %}