{% extends 'life/sub.html' %}
{% load static %}
{% block content %}
    <sub>
        <div id="sub03">
			<div class="inner">
				<nav>
					<h2 class="sub_tit font-45 weight-900 p_font">대학생활</h2>
					<div class="location n_font font-15"><a href="{% url 'life_index' %}">홈</a> <span>▶</span> 대학생활</div>
				</nav>
				<section id="section_01">
					<ul>
						<li><a href="#section_02">비학위 과정</a></li>
						<li><a href="#section_04">신입생 유스티노 아카데미</a></li>
						<li><a href="#section_06">전공체험 프로그램</a></li>
						<li><a href="#section_08">예비대학 디딤돌</a></li>
						<li><a href="#section_10">학생모니터링단</a></li>
						<li><a href="#section_12">전공 동아리</a></li>
					</ul>
				</section>
				<section id="section_02">
					<h3 class="font-30 weight-900 p_font">비학위 과정</h3>
					<ul class="table_ul">
						<li>대상</li>
						<li>LiFE 융합학부 재학생</li>
						<li>운영시기</li>
						<li>야간(18시 이후), 주말(토요일), 하계방학 및 동계방학</li>
						<li>운영목적</li>
						<li>지역 산업 및 지역수요 맞춤 현장중심의 비학위 과정 개발 및 운영을 통해 평생교육체제 강화</li>
						<li>운영내용</li>
						<li>
							<ul>
								<li>웰스킨케어 전공 : 시니어병원코디네이터, 힐링아로마테라피 등</li>
								<li>사회복지상담전공 : 생명존중전문가, 슬기로운 노인심리상당 등</li>
								<li>시니어골프전공 : 파크로프라운딩 과정, S-노인스포츠지도사 등</li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_03">
					<div class="swiper_03_01">
					    <div class="swiper-container">
					        <div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_01.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_02.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_03.png' %}"></div>
							</div>
							<div class="arrow-box">
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</section>

				<section id="section_04">
					<h3 class="font-30 weight-900 p_font">신입생 유스티노 아카데미</h3>
					<ul class="table_ul">
						<li>대상</li>
						<li>LiFE 융합학부 신입생</li>
						<li>운영시기</li>
						<li>입학 전</li>
						<li>운영목적</li>
						<li>성인학습자의 빠른 대학생활 및 학업적응과 성공적인 대학생활을 지원 </li>
						<li>운영내용</li>
						<li>
							<ul>
								<li>STAR 수성인 : 평생교육, 비전 및 목적 공유, 학사지도, 대학생활 설계 등</li>
								<li>알쓸전잡 : 알아두면 쓸모있는 전공 철학사전, STAR 동문 특강 등</li>
								<li>예비수성인 : 자기탐색, 생애 설계, 대인관계 형성, 소통기법 등</li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_05">
					<div class="swiper_03_02">
					    <div class="swiper-container">
					        <div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_04.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_05.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_06.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_07.png' %}"></div>
							</div>
							<div class="arrow-box">
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</section>
				<section id="section_06">
					<h3 class="font-30 weight-900 p_font">전공체험 프로그램</h3>
					<ul class="table_ul">
						<li>대상</li>
						<li>LiFE 융합학부 신입생</li>
						<li>운영시기</li>
						<li>입학 전</li>
						<li>운영목적</li>
						<li>성인학습자의 전공이해, 성인학습자간의 관계형성, 학습동기부여 제공</li>
						<li>운영내용</li>
						<li>
							<ul>
								<li>사회복지체험, 힐링 헬스케어 체험, 피부관리 및 명상 체험</li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_07">
					<div class="swiper_03_03">
					    <div class="swiper-container">
					        <div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_08.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_09.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_10.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_11.png' %}"></div>
							</div>
							<div class="arrow-box">
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</section>
				<section id="section_08">
					<h3 class="font-30 weight-900 p_font">예비대학 디딤돌</h3>
					<ul class="table_ul">
						<li>대상</li>
						<li>LiFE 융합학부 신입생</li>
						<li>운영시기</li>
						<li>입학 전</li>
						<li>운영목적</li>
						<li>성인학습자의 빠른 대학생활 및 학업적응과 성공적인 대학생활을 지원</li>
						<li>운영내용</li>
						<li>
							<ul>
								<li>디지털 스킬업 : 디지털 활용 능력 향상, 디지털 활용 격차 해소 등</li>
								<li>기초 리터리시 : 대학 글쓰기 향상, 문서작성 능력 향상 등</li>
								<li>자기주도 학습법 : 자신의 학업유형 탐색, 효과적 학습법 이해 등 </li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_09">
					<div class="swiper_03_04">
					    <div class="swiper-container">
					        <div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_12.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_13.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_14.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_15.png' %}"></div>
							</div>
							<div class="arrow-box">
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</section>
				<section id="section_10">
					<h3 class="font-30 weight-900 p_font">학생모니터링단</h3>
					<ul class="table_ul">
						<li>대상</li>
						<li>LiFE 융합학부 재학생</li>
						<li>운영시기</li>
						<li>학기 중 3~5주, 주 1회</li>
						<li>운영목적</li>
						<li>성인친화적 학사운영을 위한 모니터링단 구성하여 학생들의 요구도 조사 실질적 수요자인 학생의 의견수렴을 통해  학생간 소통 강화  </li>
						<li>운영내용</li>
						<li>
							<ul>
								<li>수업 및 학사 전반에 관한 내용을 모니터링</li>
								<li>학교생활 중 느낀점 작성 </li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_11">
					<div class="swiper_03_05">
					    <div class="swiper-container">
					        <div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_16.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_17.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_18.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_19.png' %}"></div>
							</div>
							<div class="arrow-box">
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</section>
				<section id="section_12">
					<h3 class="font-30 weight-900 p_font">전공 동아리</h3>
					<ul class="table_ul">
						<li>대상</li>
						<li>LiFE 융합학부 재학생</li>
						<li>운영시기</li>
						<li>학기 및 방학</li>
						<li>운영목적</li>
						<li>전공실력 향상, 다양한 활동을 통해 인성과 봉사 정신 함양</li>
						<li>운영내용</li>
						<li>
							<ul>
								<li>전공 동아리 신청 후 활동</li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_13">
					<div class="swiper_03_06">
					    <div class="swiper-container">
					        <div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_20.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_21.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_22.png' %}"></div>
								<div class="swiper-slide"><img src="{% static 'life/images/sub/03_23.png' %}"></div>
							</div>
							<div class="arrow-box">
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</section>
			</div>
        </div> 
    </sub>
</div>
{% endblock content %}
