{% extends 'life/sub.html' %}
{% load static %}
{% block content %}
    <sub>
        <div id="sub02">
			<div class="inner">
				<div class="nav">
					<nav>
						<h2 class="sub_tit font-45 weight-900 p_font">웰스킨케어 전공</h2>
						<div class="location n_font font-15"><a href="{% url 'life_index' %}">홈</a> <span>▶</span> 학과안내 <span>▶</span> 웰스킨케어 전공</div>
					</nav>
					<ul>
						<li><a href="{% url 'life_sub02' %}" class="font-17">사회복지상담 전공</a></li>
						<li><a href="{% url 'life_sub02_02' %}"  class="font-17 on">웰스킨케어 전공</a></li>
						<li><a href="{% url 'life_sub02_03' %}"  class="font-17">시니어골프 전공</a></li>
					</ul>
				</div>

				<section id="section_01">
					<ul>
						<li class="font-25 weight-600 p_font">인재상</li>
						<li><img src="{% static 'life/images/sub/dot02.png' %}"></li>
						<li class="font-22">Well Life Care 뷰티스페셜리스트</li>
					</ul>
					<ul>
						<li class="font-25 weight-600 p_font">교육목표</li>
						<li><img src="{% static 'life/images/sub/dot02.png' %}"></li>
						<li class="font-22">인성과 실무를 겸비한 융합웰스킨 현장중심의 뷰티스페셜리스트양성</li>
					</ul>
				</section>
				<section id="section_02">
					<ul>
						<li class="font-25 weight-600 p_font">인재상</li>
						<li class="font-20">
							<ul>
								<li><div>성인학습자 요구분석과 신중년 고용환경분석 기반 성인친화형 교육과정 개발 및 운영 고도화</div></li>
								<li><div>산업체 및 지역 유관단체 현장직무분석 기반 현장중심 교육과정 개발 및 운영 고도화</div></li>
								<li><div>지역기초단체·산업체 교육과정개발위원회 구성으로 교육과정 공동운영체계 고도화</div></li>
								<li><div>4차 산업혁명 및 신산업 트렌드 반영을 위해 단계적 융합전공및 신기술직무역량 교육과정 개편</div></li>
								<li><div>전공 교육과정과 비학위 교육과정 연계 고도화 및 트렌드화</div></li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_03">
					<ul>
						<li class="font-25 weight-600 p_font">학과특성</li>
						<li class="font-20">
							<ul>
								<li><div class="p_font font-35 weight-800">01.</div>화장품, 네일&두피, 왁싱, 속눈썹, 반영구 창업</li>
								<li><div class="p_font font-35 weight-800">02.</div>메디컬스킨케어 전문가 과정</li>
								<li><div class="p_font font-35 weight-800">03.</div>스파테라피 전문가 과정</li>
								<li><div class="p_font font-35 weight-800">04.</div>미용사 종합면허<br>(피부, 네일, 헤어, 메이크업) 취득</li>
								<li><div class="p_font font-35 weight-800">05.</div>현장 경력으로 학점 인정</li>
								<li><div class="p_font font-35 weight-800">06.</div>현장미러형 실습</li>
							</ul>
						</li>
					</ul>
				</section>
				<section id="section_04">
					<div class="btn font-20 weight-600 p_font right"><a href="#none" target="_blank">홈페이지 바로가기</div>
				</section>
			</div>
        </div> 
    </sub>
</div>
{% endblock content %}
