{% extends 'life/sub.html' %}
{% load static %}
{% block content %}
    <sub>
        <div id="sub01_04">
			<div class="inner">
				<div class="nav">
					<nav>
						<h2 class="sub_tit font-45 weight-900 p_font">홍보영상</h2>
						<div class="location n_font font-15"><a href="{% url 'life_index' %}">홈</a> <span>▶</span> LIFE2.0 사업단 <span>▶</span> 홍보영상</div>
					</nav>
					<ul>
						<li><a href="{% url 'life_sub01' %}" class="font-17">인사말</a></li>
						<li><a href="{% url 'life_sub01_02' %}"  class="font-17">사업단 소개</a></li>
						<li><a href="{% url 'life_sub01_03' %}"  class="font-17">조직안내</a></li>
						<li><a href="{% url 'life_sub01_04' %}"  class="font-17 on">홍보영상</a></li>
					</ul>
				</div>

				<section id="section_01">
					<ul>
						<li>
							<div class="video-container">
							  <iframe src="https://www.youtube.com/embed/FjdE6VZ8Vos" frameborder="0" allowfullscreen=""></iframe>
							</div>						
						</li>
						<li>
							<div class="video-container">
							  <iframe src="https://www.youtube.com/embed/X9cxo4tqGes" frameborder="0" allowfullscreen=""></iframe>
							</div>		
						</li>
					</ul>
				</section>
			</div>
        </div> 
    </sub>
</div>
{% endblock content %}
