{% extends 'life/sub.html' %}
{% load static %}
{% block content %}
    <sub>
        <div id="sub04">
			<div class="inner">
				<div class="nav">
					<nav>
						<h2 class="sub_tit font-45 weight-900 p_font">입시정보</h2>
						<div class="location n_font font-15"><a href="{% url 'life_index' %}">홈</a> <span>▶</span> 입학안내 <span>▶</span> 입시정보</div>
					</nav>
					<ul>
						<li><a href="{% url 'life_sub04' %}" class="font-17 on">입시정보</a></li>
						<li><a href="{% url 'life_sub04_02' %}"  class="font-17">입시요강</a></li>
					</ul>
				</div>

				<section id="section_01">
					<h3 class="font-30 weight-900 p_font">비학위 과정</h3>
					<table>
						<tr>
							<th>LiFE 융합학부</th>
							<th>주/야</th>
							<th>모집인원</th>
						</tr>
						<tr>
							<td>사회복지상담전공</td>
							<td>주간</td>
							<td>45명</td>
						</tr>
						<tr>
							<td>시니어골프전공</td>
							<td>야간</td>
							<td>30명</td>
						</tr>
						<tr>
							<td>웰스킨케어전공</td>
							<td>야간</td>
							<td>20명</td>
						</tr>
					</table>
				</section>
				<section id="section_02">
					<h3 class="font-30 weight-900 p_font">정원외 모집대상 특별전형</h3>
					<table>
						<tr>
							<th>구분</th>
							<th>정원외 모집대상 특별전형</th>
						</tr>
						<tr>
							<td>비수도권 전문대학</td>
							<td class="left">
								<ul>
									<li>특성화고 등을 졸업한 재직자 특별전형</li>
									<li>만학도(25세) 및 재직자 특별전형</li>
									<li>전문대학 이상 학력이 있다고 인정되는 자</li>
								</ul>								
							</td>
						</tr>
					</table>
				</section>
			</div>
        </div> 
    </sub>
</div>
{% endblock content %}
