{% extends 'life/sub.html' %}
{% load static %}
{% block content %}
    <sub>
        <div id="sub04_02">
			<div class="inner">
				<div class="nav">
					<nav>
						<h2 class="sub_tit font-45 weight-900 p_font">입시정보</h2>
						<div class="location n_font font-15"><a href="{% url 'life_index' %}">홈</a> <span>▶</span> 입학안내 <span>▶</span> 입시요강</div>
					</nav>
					<ul>
                        <li><a href="{% url 'life_sub04' %}" class="font-17">입시정보</a></li>
						<li><a href="{% url 'life_sub04_02' %}"  class="font-17 on">입시요강</a></li>
					</ul>
				</div>

				<section id="section_01">
					<div class="bg">
						<h4 class="font-35 weight-800 p_font">수성대학교 입시요강 홈페이지</h4>
						<div class="btn font-20 weight-600 p_font"><a href="https://ipsi.sc.ac.kr" target="_blank">바로가기</div>
					</div>
				</section>
			</div>
        </div> 
    </sub>
</div>
{% endblock content %}
