<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수성대학교 시니어골프전공</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/head.css"> 
    <link rel="stylesheet" href="css/foot.css"> 
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>
<body>
    <header>
        <div id="header">
            <div class="inner">
                <div class="gnb">
                    <div class="logo">
                        <a href="index.html">
                            <img src="images/top/logo.png" alt="logo">
                        </a>
                    </div>
                    <ul class="menu">
                        <li><a href="#about">학과소개</a></li>
                        <li><a href="#course">졸업 후 진로</a></li>
                        <li><a href="#certification">자격증</a></li>
                        <li><a href="#professor">교수소개</a></li>
                        <li><a href="#partner">협력기관</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </header>
    

    <main>
        <div class="main_page">
            <!-- 메인 배너 -->
            <div class="section_01">
                <div class="banner_top">
                    <div class="inner">
                        <div class="flr_txt">
                            <h2 class="font-30 weight-500 point_f">DEVELOPING GOLF GUIDANCE AND <br>GOLF LEADER FOR SENIORS</h2>
                        </div>
                        <div class="fll_txt">
                            <h1 class="weight-800 point_f point_c">COLLEGE OF <br>SENIOR GOLF DEPARTMENT</h1>
                        </div>
                    </div>
                </div>
                <div class="banner_img">
                    <div class="inner">
                        <h3 class="font-22 weight-600">시니어를 위한 골프지도와 <br> 골프지도자 양성</h3>
                        <h2 class="font-40 weight-900 point_f">시니어골프 전공</h2>
                    </div>
                </div>
                <div class="scroll_down font-16">SCROLL DOWN <br>▼</div>
            </div> 

    
            <!-- 학과소개 -->
            <div class="section_02" id="about">
                <div class="inner">
                    <div class="txt_ani">
                        <!--  -->
                        <div class="box_ani">
                            <p class="font-100 weight-800 point_f">생활스포츠지도자</p>
                            <p class="font-100 weight-800 point_f">요가지도자</p>
                            <p class="font-100 weight-800 point_f">펠라테스지도자</p>
                            <p class="font-100 weight-800 point_f">퍼스널트레이너</p>
                            <p class="font-100 weight-800 point_f">스포츠마사지사</p>
                            <p class="font-100 weight-800 point_f">파크골프지도자</p>
                            <p class="font-100 weight-800 point_f">노인스포츠지도자</p>
                        </div>
                        <p class="font-70 weight-500 point_f">에 관심있다면</p>
                    </div>
                    <ul class="about_list">
                        <li>
                            <img src="images/main/about_icon01.png" alt="about_icon01">
                            <p class="font-22 weight-500 point_f">시니어에게 적합한 <br class="none">과학적인 골프지도</p>
                        </li>
                        <li>
                            <img src="images/main/about_icon02.png" alt="about_icon02">
                            <p class="font-22 weight-500 point_f">시니어를 위한 체력관리 방법에 관한 <br class="none">이론교육 및 웨이트트레이닝 등의  실기교육</p>
                        </li>
                        <li>
                            <img src="images/main/about_icon03.png" alt="about_icon03">
                            <p class="font-22 weight-500 point_f">시니어 골프지도자 <br class="none">양성</p>
                        </li>
                    </ul>


                    <div class="about_flex">
                        <div class="left_info">
                            <h3 class="font-45 weight-900 point_f">DEVELOPING GOLF GUIDANCE <br>AND GOLF LEADERS FOR SENIORS</h3>
                            <p class="font-17 weight-300">시니어를 위한 골프지도와 골프지도자 양성에 특화된 프로그램을 제공하고, 전문 지식과 실습이 함께하는 학습환경에서 <br class="none">
                                골프 기술 뿐만 아니라 리더십과 커뮤니케이션 능력을 발전시키는 학과입니다.</p>
                            <span class="font-25 weight-500 point_f">시니어를 위한 <br> <b>골프지도</b>와 <br> <b>골프지도자</b> 양성</span>
                        </div>
                        <div class="right_button">
                            <button class="cclum_btn ccm font-17 weight-500 point_f">CURRICULUM <br><b class="font-22">교육과정 OPEN</b> <i>→</i></button>
                            <button class="cclum_btn degree font-17 weight-500 point_f">CURRICULUM <br><b class="font-22">비학위 과정 : JUMP UP 디그리</b> <i>→</i></button>
                        </div>
                    </div>
                </div>
            </div> 
    
            <div class="pop_bg"></div>
            <div class="cclum_popup ccm">
                <div class="cclum_ctt">
                    <table>
                        <caption>시니어골프전공 교육과정 로드맵</caption>
                        <tr>
                            <th>전공직무</th>
                            <th class="bold">1학년 1학기</th>
                            <th class="bold">1학년 2학기</th>
                            <th class="bold">2학년 1학기</th>
                            <th class="bold">2학년 2학기</th>
                        </tr>
                        <tr>
                            <td rowspan="2" class="bold">직무공통</td>
                            <td>생활체육론</td>
                            <td>스포츠경영론</td>
                            <td>스포츠창업 <br>캡스톤디자인</td>
                            <td>현장실습</td>
                        </tr>
    
                        <tr>
                            <td></td>
                            <td>응급처치와 안전교육</td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                        <tr class="line">
                            <td rowspan="3" class="bold">시니어스포츠지도 <br>(직무1)</td>
                            <td>스포츠윤리</td>
                            <td>스포츠심리학</td>
                            <td>운동생리학</td>
                            <td>스포츠지도방법론</td>
                        </tr>
                        <tr>
                            <td>스포츠사회학</td>
                            <td></td>
                            <td>스포츠교육학</td>
                            <td>노인체육론</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>스포츠영양학</td>
                        </tr>

                        <tr class="line">
                            <td rowspan="2" class="bold">시니어골프지도 <br>(직무2)</td>
                            <td>파크골프론</td>
                            <td>기초실기실습2</td>
                            <td>응용실기실습2</td>
                            <td>라운딩실전실습2</td>
                        </tr>
                        <tr>
                            <td>기초실기실습1</td>
                            <td>응용실기실습1</td>
                            <td>라운딩실전실습1</td>
                            <td></td>
                        </tr>
                    </table>

                    <table>
                        <caption>시니어골프전공 교육과정 로드맵</caption>
                        <tr>
                            <th class="bold">교양 교육과정</th>
                            <th class="bold">웰케어 융합전공과정</th>
                            <th class="bold">비교과</th>

                        </tr>
                        <tr>
                            <td>자기계발과 <br>진로코칭</td>
                            <td>WH(6학점) + WB(6학점)</td>
                            <td>파크골프지도자 <br>초청 특강</td>
                        </tr>
                        <tr>
                            <td>경력개발과 <br>취업코칭</td>
                            <td><span>웰스포츠뷰티<br> 융합전공(MD) <br>(12학점)</span></td>
                            <td>우수 파크골프관련<br>산업체 체험 및 견학</td>
                        </tr>
                        <tr>
                            <td>조직문화와 <br>직업윤리</td>
                            <td rowspan="3">
                                <div class="bd">
                                    <p>피부과학</p>
                                    <p>아로마&화장품사용</p>
                                </div>
                                +
                                <div class="bd">
                                    <p>생활체육론</p>
                                    <p>노인체육론</p>
                                </div>
                            </td>
                            <td>스포츠시설 <br>대표초청 창업특강</td>
                        </tr>
                        <tr>
                            <td>인성과 <br>리더십</td>
                            <td>대구 수성구<br> 파크골프장 견학</td>
                        </tr>
                        <tr>
                            <td>비즈니스<br> 커뮤니케이션</td>
                            <td>캡스톤디자인 멘토링 <span>LiFE-IST 인증</span></td>
                        </tr>
    
                    </table>
                </div>
                <div class="close"></div>
            </div>
            <div class="cclum_popup degree">
                <div class="cclum_ctt">
                    <table>
                        <caption>비학위과정 : Jump Up 다그리</caption>
                        <tr>
                            <th class="bold" colspan="4">비학위과정 : Jump up 디그리</th>
                        </tr>
                        <tr>
                            <td class="bold">학위과정<br> 보완과정</td>
                            <td>실버생활체조지도사 과정</td>
                            <td class="bold" rowspan="2">비교과과정 <br>연계운영</td>
                            <td rowspan="2">재학생 대상</td>
                        </tr>
                        <tr>
                            <td class="bold">일자리창출<br> 취창업과정</td>
                            <td class="bdr">- 스포츠시설 취창업과정<br> - GDR스크린골프 취창업과정</td>
                        </tr>
                        <tr>
                            <td class="bold">학점연계형<br>과정</td>
                            <td>- 파크골프지도사 과정(15시간) <br> - 시니어인지놀이지도사과정(32시간)</td>
                            <td class="bold">파크골프론<br>(학점인정)</td>
                            <td>지역주민 재직자<br> 학생 대상</td>
                        </tr>
                        <tr>
                            <td class="bold">직무역량강화<br>자격증과정</td>
                            <td>- 실버안전지도사과정</td>
                            <td rowspan="2" colspan="2">지역주민 대상 <br>재직자 대상</td>
                        </tr>
                        <tr>
                            <td class="bold">첨단산업관련 <br>교육과정</td>
                            <td class="bdr">- GDR 골프모션 코칭 및 교정 아카데미 <br>- 시니어스포츠 Maker School 과정</td>
                        </tr>
                    </table>
                </div>
                <div class="close"></div>
            </div>
    
    
            <!-- 졸업 후 진로 -->
            <div class="section_03" id="course">
                <div class="inner">
                    <ul id="curriculum_tab">
                        <li>나는</li>
                        <li><a href="#" data-field="field_01" class="active">시니어 스포츠지도</a></li>
                        <li><a href="#" data-field="field_02">시니어 골프지도</a></li>
                        <li>분야의</li>
                    </ul>
    
                    <div id="curriculum_contents">
                        <ul id="curriculum_cate_ul_field_01" class="field_01">
                            <li><a href="#" data-field="field01_01" class="active">2급생활스포츠지도사</a></li>
                            <li><a href="#" data-field="field01_01">요가지도자</a></li>
                            <li><a href="#" data-field="field01_01">필라테스지도자</a></li>
                            <li><a href="#" data-field="field01_01">퍼스널트레이너</a></li>
                            <li><a href="#" data-field="field01_01">스포츠마사지사</a></li>
                            <li><a href="#" data-field="field01_01">스포츠테이핑</a></li>
                            <li>가 되고싶어요</li>
                        </ul>
        
                        <ul id="curriculum_cate_ul_field_02" class="field_02 hidden">
                            <li><a href="#" data-field="field02_01" class="active">파크골프지도자2급,1급</a></li>
                            <li><a href="#" data-field="field02_01">노인스포츠지도사</a></li>
                            <li><a href="#" data-field="field02_01">골프지도자</a></li>
                            <li><a href="#" data-field="field02_01">골프관련창업</a></li>
                            <li>가 되고싶어요</li>
                        </ul>
                    </div>
    
                    <div class="curriculum_list">	
                        <ul  class="curriculum_list_01">
                            <li data-field="스포츠마사지"><a href="#none">스포츠마사지</a></li>
                            <li data-field="댄스스포츠"><a href="#none">댄스스포츠</a></li>
                            <li data-field="필라테스"><a href="#none">필라테스</a></li>
                            <li data-field="에어로빅스"><a href="#none">에어로빅스</a></li>
                            <li data-field="웨이트트레이닝"><a href="#none">웨이트트레이닝</a></li>
                            <li data-field="퍼스널트레이닝"><a href="#none">퍼스널트레이닝</a></li>
                            <li data-field="요가"><a href="#none">요가</a></li>
                            <li data-field="레크리에이션"><a href="#none">레크리에이션</a></li>
                            <li data-field="운동생리학"><a href="#none">운동생리학</a></li>
                            <li data-field="실버체육론"><a href="#none">실버체육론</a></li>
                            <li data-field="트레이닝방법론"><a href="#none">트레이닝방법론</a></li>
                            <li data-field="생활체육관"><a href="#none">생활체육관</a></li>
                            <li data-field="스포츠사회학"><a href="#none">스포츠사회학</a></li>
                        </ul>
        
                        <ul  class="curriculum_list_02">
                            <li data-field="파크골프"><a href="#none">파크골프</a></li>
                            <li data-field="기초실기실습"><a href="#none">기초실기실습</a></li>
                            <li data-field="응용실기실습"><a href="#none">응용실기실습</a></li>
                            <li data-field="라운딩실전실습"><a href="#none">라운딩실전실습</a></li>
                            <li data-field="스포츠창업캡스턴디자인"><a href="#none">스포츠창업캡스턴디자인</a></li>
                            <li data-field="레크리에이션"><a href="#none">레크리에이션</a></li>
                            <li data-field="운동생리학"><a href="#none">운동생리학</a></li>
                            <li data-field="실버체육론"><a href="#none">실버체육론</a></li>
                            <li data-field="트레이닝방법론"><a href="#none">트레이닝방법론</a></li>
                            <li data-field="생활체육관"><a href="#none">생활체육관</a></li>
                            <li data-field="스포츠사회학"><a href="#none">스포츠사회학</a></li>
                        </ul>
                </div>
            </div>

				   
    
            <!-- 자격증 -->
            <div class="section_04" id="certification">
                <div class="bg_info">
                    <div class="inner">
                        <div class="right_txt">
                            <h3 class="font-70 weight-800 point_f">ROOTING YOUR DREAM</h3>
                            <h4 class="font-80 weight-800 point_f point_c">SENIOR GOLF</h4>
                            <p class="font-25 weight-500 point_f">꿈을 위한, 새로운 도전을 위한 선택 <br> <b>시니어골프 전공</b></p>
                        </div>
                    </div>
                    <img src="images/main/center_bg.png" alt="golf bg">
                </div>
                <div class="inner">
                    <div class="certifi_swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="certifi_box">
                                        <h4 class="font-24 weight-800">파크골프지도자1,2급</h4>
                                        <span class="font-17 weight-600">시행처 : 대한파크골프협회</span>
                                        <p class="font-16 weight-300">파크골프지도사에는 생활스포츠지도사, 장애인스포츠지도사, 유소년스포츠지도사, 노인스포츠지도사가 있으며, 누구나 18세 이상이면 학력에 상관없이 응시가 가능합니다. </p>
                                        <a href="https://sqms.kspo.or.kr/index.kspo" target="_blank" class="font-16 weight-400 link_p">관련사이트 바로가기 &nbsp; →</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certifi_box">
                                        <h4 class="font-24 weight-800">노인스포츠지도사</h4>
                                        <span class="font-17 weight-600">시행처 : 문화체육관광부</span>
                                        <p class="font-16 weight-300">노인스포츠지도사란 노인의 신체적ㆍ정신적 변화 등에 대한 지식을 갖추고 별표 1의 자격 종목에 대하여 노인을 대상으로 생활체육을 지도하는 사람을 말한다.</p>
                                        <a href="http://www.koci.co.kr/base/m3/smenu2/menu22.php" target="_blank" class="font-16 weight-400 link_p">관련사이트 바로가기 &nbsp; →</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certifi_box">
                                        <h4 class="font-24 weight-800">2급생활스포츠지도사</h4>
                                        <span class="font-17 weight-600">시행처 : 문화체육관광부</span>
                                        <p class="font-16 weight-300">2급 생활스포츠지도사는 응시자격을 갖춘 자가 국민체육공단 등에서 시행하는 2급 생활스포츠지도사 시험에 합격하여 그 자격을 취득한 자를 말한다.</p>
                                        <a href="https://sqms.kspo.or.kr/index.kspo" target="_blank" class="font-16 weight-400 link_p">관련사이트 바로가기 &nbsp; →</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certifi_box">
                                        <h4 class="font-24 weight-800">요가지도자</h4>
                                        <span class="font-17 weight-600">시행처 : 한국리듬운동학회</span>
                                        <p class="font-16 weight-300">요가에 대하여 전문지식을 가지고 이론과 실기 등의 복합적인 지도기술ㆍ수행 및 교육 업무를 현장에서 숙련되게 적용할 수 있는 교수능력을 습득하는 것을 목적으로 하며, 요가지도자 등급은 1, 2, 3급으로 구분되어 있습니다.</p>
                                        <a href="http://m.yogaok.com/main" target="_blank" class="font-16 weight-400 link_p">관련사이트 바로가기 &nbsp; →</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certifi_box">
                                        <h4 class="font-24 weight-800">필라테스지도자</h4>
                                        <span class="font-17 weight-600">시행처 : 대한파크골프협회</span>
                                        <p class="font-16 weight-300">필라테스에 대하여 전문지식을 가지고 이론과 실기등의 복합적인 지도기술ㆍ수행 및 교육 업무를 현장에서 숙련되게 적용할 수 있는 교수능력을 습득하는 것을 목적으로 하며, 필라테스지도자 등급은 1, 2, 3급으로 구분되어있습니다.</p>
                                        <a href="https://www.korea-pilates.net/front/license/exam_schedule_01.asp" target="_blank" class="font-16 weight-400 link_p">관련사이트 바로가기 &nbsp; →</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certifi_box">
                                        <h4 class="font-24 weight-800">퍼스널트레이너</h4>
                                        <span class="font-17 weight-600">시행처 : 대한퍼스널트레이너협회</span>
                                        <p class="font-16 weight-300">퍼스널 트레이너란 체육관에 소속 혹은 개인 사업자의 신분으로 운동을 전문적으로 배우기를 원하는 회원 혹은 고객에게 1:1 또는 1:다수로 트레이닝 방법들을 교수하는 것을 직업으로 삼는 사람을 의미합니다.</p>
                                        <a href="http://ckpta.org/" target="_blank" class="font-16 weight-400 link_p">관련사이트 바로가기 &nbsp; →</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certifi_box">
                                        <h4 class="font-24 weight-800">스포츠마사지사</h4>
                                        <span class="font-17 weight-600">시행처 : 한국레저스포츠지도자협회</span>
                                        <p class="font-16 weight-300">스포츠마사지사는 스포츠 선수들의 경기력 향상을 위한 마사지와 부상 치료를 담당하는 전문가입니다. 필기시험과 실기시험을 모두 통과해야 취득할 수 있습니다.</p>
                                        <a href="http://m.iptaok.com/page/page50#" target="_blank" class="font-16 weight-400 link_p">관련사이트 바로가기 &nbsp; →</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="certifi_box">
                                        <h4 class="font-24 weight-800">스포츠테이핑</h4>
                                        <span class="font-17 weight-600">시행처 : 한국레저스포츠지도자협회</span>
                                        <p class="font-16 weight-300">테이핑 요법(부위별, 질환별), 스포츠마사지, 운동처방에 대한 정확한 이해와 일상생활에서의 질환 및 각종 스포츠 상해와 부상 예방을 위한 테이핑 실행 방법을 익힙니다. 현장에서 즉시 활용할 수 있는 전문적인 이론과 기술을 전문수준까지 습득 및 실행할 수 있도록 합니다.</p>
                                        <a href="http://m.iashok.com/page/page72" target="_blank" class="font-16 weight-400 link_p">관련사이트 바로가기 &nbsp; →</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
    
            <!-- 교수소개 -->
            <div class="section_05" id="professor">
                <div class="inner">
                    <div class="pf_info">
                        <div class="top_pf_tit">
                            <span class="font-25 weight-300 point_f">교수진</span>
                            <h4 class="font-45 weight-800 point_f">전공 교육 <br><b class="point_c">교수진</b> 소개</h4>
                            <p class="font-20 weight-300"><b>학과 사무실</b> <br> 마티아관 2층 209호 <br>053)749-7286</p>
                        </div>
                        <div class="bottom_btn_link">
                            <a href="images/main/suseong_seniorgolf.pdf" download class="font-17 weight-500 point_f">DEPARTMENT LIBRARY <br><b class="font-22">학과 리플렛 다운로드</b> <i>→</i></a>
                            <a href="https://ipsi.sc.ac.kr/" target="_blank" class="font-17 weight-500 point_f">COLLEGE ENTRANCE <br><b class="font-22">대학 입시페이지 바로가기</b> <i>→</i></a>
                        </div>
                    </div>
                    
                    <ul class="pf_list">
                        <li class="on">
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">노미라 교수 <span class="font-14 weight-500">학과장</span></h5>
                                    <h6 class="font-18 weight-500">레크리에이션, 스포츠사회학, 요가</h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7283<br>
                                    mirasi46@naver.com
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                        <li>
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">서재명 교수</h5>
                                    <h6 class="font-18 weight-500">운동생리학, 실버체육론, 트레이닝방법론</h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7287<br>
                                    jmsuh@sc.ac.kr
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                        <li>
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">전병덕 교수</h5>
                                    <h6 class="font-18 weight-500">생활체육론, 스포츠교육학, 해양스포츠, 스키</h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7284<br>
                                    captainjeon10@hanmail.net
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                        <li>
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">백창식 교수</h5>
                                    <h6 class="font-18 weight-500"></h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7286<br>
                                    bcs1117@hanmail.net
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                        <li>
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">김윤애 교수</h5>
                                    <h6 class="font-18 weight-500"></h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7286<br>
                                    younae04@hanmail.net
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                        <li>
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">임창수 교수</h5>
                                    <h6 class="font-18 weight-500"></h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7286<br>
                                    dark-13@daum.net
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                        <li>
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">배봉선 교수</h5>
                                    <h6 class="font-18 weight-500"></h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7286<br>
                                    b0407@hanmail.net
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                        <li>
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">정혜영 교수</h5>
                                    <h6 class="font-18 weight-500"></h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7286<br>
                                    wjdgodud1985@gmail.com
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                        <li>
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">김경환 교수</h5>
                                    <h6 class="font-18 weight-500"></h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7286<br>
                                    kkimkkyung@gmail.com
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                        <li>
                            <div class="flex">
                                <span>
                                    <h5 class="font-25 weight-800 point_f">유수진 교수</h5>
                                    <h6 class="font-18 weight-500"></h6>
                                </span>
                                <p class="font-16 weight-400">
                                    마티아관 207호<br>
                                    053)749-7286<br>
                                    gaulhanue@daum.net
                                </p>
                            </div>
                            <button class="open font-25 weight-900">+</button>
                        </li>
                    </ul>          
                </div> 
            </div> 

    

            <!-- 협력기관 -->
            <div class="section_07" id="partner">
                <div class="inner">    
                    <div class="partner_swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="images/main/partner_logo01.png" alt="체육지도자"></div>
                                <div class="swiper-slide"><img src="images/main/partner_logo02.png" alt="체육지도자"></div>
                                <div class="swiper-slide"><img src="images/main/partner_logo03.png" alt="체육지도자"></div>
                                <div class="swiper-slide"><img src="images/main/partner_logo04.png" alt="체육지도자"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </main>

    <script src="./js/main.js"></script>
    <footer>
        <div id="footer">
            <div class="inner">
                <div class="foot_logo"><img src="images/main/footer_logo.png" alt="수성대학교 시니어골프과 logo"></div>
                <div class="copyright font-16 weight-300">(c) 2024 SUSEONG UNIVERSITY. All rights reserved.</div>
            </div>
        </div>
    </footer>

    
</body>
</html>